!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title 6in4 Project
    block css_link
        link(rel='stylesheet', href='/css/app.css')
        link(rel='stylesheet', href='/css/bootstrap/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/css/bootstrap/bootstrap-responsive.css', media='screen')

    block head_js_link

  body
    block body