doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/login.css')
    script(type='text/javascript', src='http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js', data-appid='101263441', data-redirecturi='http://res.6able.com/qqlogin', charset='utf-8')
body
  .container-fluid
    .row-fluid
      .span12
        h1.text-center(style='color: #ffffff; margin-bottom: 30px') 6in4 Project
    .row-fluid
      form.form-signin(ng-submit='login()')
        h2.form-signin-headingt 登录
        .control-group(ng-class="{'error':userNameError}")
          .controls
            input.input-block-level(required, type='email', placeholder='邮箱', ng-model='credential.userName')
            span.help-inline.hide(ng-class="{true:'show', false:'hide'}[userNameError]") 找不到用户
        .control-group(ng-class="{'error':passwordError}")
          .controls
            input.input-block-level(required, type='password', placeholder='密码', ng-model='credential.password')
            span.help-inline(ng-class="{true:'show', false:'hide'}[passwordError]") 密码错误
        label.checkbox
          input(type='checkbox', checked='checked', value='remember-me', ng-model='credential.isAdmin')
          | 我是管理员
        button.btn.btn-large.btn-primary.btn-block(type='submit',
        btn-loading, data-loading-text="正在登录...") 登录
        .show(style='text-align: center')
          a.btn.btn-link.btn-small(style='margin-top: 10px;') 忘记密码？
    div
      p.text-center(style='color: #ffffff') ...or Login with:
    .auth
      span#qqLoginBtn
  .span3